body{
    background-image: url("../images/background.jpg");
}


#countdown{

font-size: 35px;
color:white;  
font-family: Arial, Helvetica, sans-serif;
background:red;

}
 

h1{
font-size: 65px; 
}

.main{
font: 150px;    
width:950px;
background-color: white;
color:blue; 
margin: 0 auto;
text-align: center;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}




.triviaGame{
font-family: "Times";
font-size: 30px;
color: black;

}

